<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC0B_D5VIATEVjrskXF0tfpqL9UQ_B9Bsg</string>
	<key>GCM_SENDER_ID</key>
	<string>998658637052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>blessthedevil.Fit365Log</string>
	<key>PROJECT_ID</key>
	<string>degree-40cf6</string>
	<key>STORAGE_BUCKET</key>
	<string>degree-40cf6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998658637052:ios:8205a31363961c81f3eb79</string>
</dict>
</plist>